In [4]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [48]:
# A dictionary of high schools and the type of school. 4.3.4 skill drill... why does it print multiple times?
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
#for key, value in high_school_types:
    #print(high_school_types) 
    #break
#print(high_school_types)
df=pd.DataFrame(high_school_types)
df

  High School      Type
0     Griffin  District
1    Figueroa  District
2      Wilson   Charter
3      Wright   Charter

In [6]:
# List of high schools 4.3.5
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [7]:
# Add the Pandas dependency. Had to do this before we can create a panda series. 
# imported pandas using an alias, "pd" to make it easier to use later in any following code. 
import pandas as pd

In [8]:
# Create a Pandas Series from a list. This will not give us any direct output. 
school_series = pd.Series(high_schools)

In [9]:
# Create a Pandas Series from a list. This code will print our output from the above code. 
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [10]:
#wish they told us that we'd have to run each cell individually before telling us to just run it. assholes.

In [50]:
# Like a list in Python, indexing can be used to get specific items from a Pandas Series.
# Iterate through the school_series and print out each high school.

for schools in school_series:
    print (school_series)
    break

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [14]:
#why did that print so many times and with the index #?

In [15]:
# Convert a List of Dictionaries to DataFrame 4.3.5
# A dictionary of high schools (referenced from a non-exisitent excel file)
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [16]:
#Convert the array (list of dictionaries) to a dataframe
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [28]:
#Convert a List or Series to a DataFrame 4.3.5
#We are basically creating the same dataframe as above because there is apparently many ways to skin a cat. 
#we are doing it differently by adding each column as a list (series) to an empty dataframe. 

# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [29]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()
schools_df

Empty DataFrame
Columns: []
Index: []

In [30]:
#Instead of using the dictionary name, we'll use the name of the DataFrame and make it equal to the list, like this:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
#Add the school_name list as "School Name" and the type_of_school list as "Type" to the schools_df DataFrame. 
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [31]:
#Another way to create this DataFrame is to create a Python dictionary from the three lists, like this:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [35]:
#Convert the dictionary high_schools_dict to a DataFrame.
HighSchool_df = pd.DataFrame()

HighSchool_df = high_schools_dict

In [39]:
print (HighSchool_df)

{'School ID': [0, 1, 2, 3, 4], 'school_name': ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School'], 'type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [ ]:
#The Anatomy of a DataFrame
#Before we move on, let's look at three main parts of a DataFrame, using the school_df as an example:

#Columns: The top, or header, rows
#Index: The numbers that run down the left-hand margin
#Values: The values in the columns (the data)

In [43]:
#The Columns Attribute
#To get the column names of a DataFrame, use df.columns. Here's how you would apply the columns attribute to the school_df DataFrame:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [44]:
#The Index Attribute
#To get the indices of the DataFrame, use df.index. Here's how you would apply the index attribute to the school_df DataFrame:

school_df.index

RangeIndex(start=0, stop=5, step=1)

In [45]:
#The Values Attribute
#To get the values of the DataFrame, use df.values. Here's how you would apply the values attribute to the school_df DataFrame:

school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)